@if(flower !== undefined){
  <mat-card class="flower-card">
    <mat-card-title class="flower_label">Name: <span class="flower_name">{{ flower.label }}</span></mat-card-title>
    <mat-card-subtitle class="flower_label">Species: <span class="flower_name">{{ flower.id }}</span></mat-card-subtitle>
    <mat-divider></mat-divider>

    <p>
      <span class="flower_label">Born on:</span>
      <span class="flower_name">{{ flower.price }}</span>
    </p>

    <img mat-card-image [src]="flower.largeImgSrc" [alt]="flower.label" class="flower_image" />

    <mat-card-content>
      <div class="text_box">
        {{ flower.description }}
      </div>
    </mat-card-content>
  </mat-card>
}@else{
  <mat-card class="message-card">
    <mat-card-content class="message">
      The data is not found.
    </mat-card-content>
  </mat-card>
}

<mat-card class="back-card">
  <a mat-button color="primary" routerLink="/catalog">
    ← Go Back To Daniel's Pets
  </a>
</mat-card>
