@if(flower !== undefined){
  <p>
    <span class="flower_label">Name:</span>
    <span class="flower_name">{{flower.label}}</span>
  </p>
  <p>
    <span class="flower_label">Species:</span>
    <span class="flower_name">{{flower.id}}</span>
  </p>
  <p>
    <span class="flower_label">Born on:</span>
    <span class="flower_name">{{flower.price}}</span>
  </p>
  <p>
    <img [src]='flower.largeImgSrc' [alt]='flower.label' class='flower_image'>
  </p>
  <div class="text_box">
    {{flower.description}}
  </div>
}@else{
  <p class="message">
    The data is not found.
  </p>
}
<p>
  <a routerLink="/catalog">Go Back To Daniel's Pets</a>
</p>
